{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "@vue/typescript",
    "plugin:vue/strongly-recommended"
  ],
  "rules": {
    "vue/html-indent": [
      "error",
      2,
      {
        "attribute": 1,
        "baseIndent": 1,
        "closeBracket": 0,
        "alignAttributesVertically": true,
        "ignores": []
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 6,
        "multiline": {
          "max": 1,
          "allowFirstLine": false
        }
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "linebreak-style": "off",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "lines-around-comment": "off",
    "arrow-parens": 0,
    "newline-per-chained-call": 0,
    "semi": [
      2,
      "never"
    ]
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  }
}
