language: python

sudo: required

dist: xenial

services:
  - postgresql

python:
  - 3.8

env:
  - DJANGO=2.2.6

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

before_install:
  - export DJANGO_SETTINGS_MODULE=backend.settings
  - cd backend/
  - curl -sSL https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py | POETRY_PREVIEW=1 python
  - poetry --version

install:
  - poetry install -vv

script:
  - poetry run python manage.py test
  - cd ../frontend
  - yarn install && yarn lint && yarn test
