$card-border-radius: 18px;
$card-shaped-border-radius: 28px;

$alert-border-radius: 8px;
$sheet-border-radius: 18px;

@import '~vuetify/src/styles/styles.sass';
@import '~vuetify/src/components/VCard/_variables.scss';
@import '~vuetify/src/components/VSheet/_variables.scss';
@import '~vuetify/src/components/VAlert/variables.scss';
